.footer {
  width: 100%;
  height: 10%;
  background-color: #111;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
}

.footer i {
  color: #999;
}

.hovered {
  opacity: 0.5;
}
